@media (min-width: 1900px) {
  .container {
    max-width: 1860px;
  }
}

.options div.input-group {
  max-width: 300px;
}

#chart {
  height: 600px;
}

.lh-condensed {
  line-height: 1.25;
}

div.input-group-prepend.option-prepend > span {
  min-width: 220px;
}
